<div class="row">
  <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2 pull-right">
     <div class="">
              <a href="#" class="thumbnail custom-thumbnail">
                <div class="col-lg-6 col-xs-6">
                  <img src="http://stock.wikimini.org/w/images/9/95/Gnome-stock_person-avatar-profile.png" alt="...">
                </div>
                <div class="col-lg-6 col-xs-6">
                  {{customer.Name}}                  
                </div>
              </a>
    </div>
  </div>
</div>
<div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">

        <div class="panel panel-default custom-panel">
          <div class="panel-body">
            <input type="text" class="form-control" id="" placeholder="My Assistant">
            <p class="lead">My Friends</p>

            <div class="">
              <a href="#" class="thumbnail custom-thumbnail">
                <div class="col-lg-6 col-xs-6">
                  <img src="http://stock.wikimini.org/w/images/9/95/Gnome-stock_person-avatar-profile.png" alt="...">
                </div>
                <div class="col-lg-6 col-xs-6">
                  {{customer.Friend_1}}
                  <hr>
                  <hr>
                </div>
              </a>
            </div>
            <div class="">
              <a href="#" class="thumbnail custom-thumbnail">
                <div class="col-lg-6 col-xs-6">
                  <img src="http://stock.wikimini.org/w/images/9/95/Gnome-stock_person-avatar-profile.png" alt="...">
                </div>
                <div class="col-lg-6 col-xs-6">
                  {{customer.Friend_2}}
                  <hr>
                  <hr>
                </div>
              </a>
            </div>
            <!-- <div class="">
              <a href="#" class="thumbnail custom-thumbnail">
                <div class="col-lg-6 col-xs-6">
                  <img src="http://stock.wikimini.org/w/images/9/95/Gnome-stock_person-avatar-profile.png" alt="...">
                </div>
                <div class="col-lg-6 col-xs-6">
                  {{customer.Friend_2}}
                  <hr>
                  <hr>
                </div>
              </a>
            </div> -->

          </div>
        </div>

      </div>
      <div class="col-lg-9 col-sm-6 col-md-6 col-xs-12 page-content">
        <div class="row">
          <div class="panel panel-default col-lg-5 col-sm-12 col-xs-12">
            <div class="panel-body">
              <p class="lead">My Fitness</p>
              <div class="panel panel-default custom-fitness-panel col-lg-6 col-md-6 col-sm-6">
                <div class="panel-heading">Heart Rate</div>
                <div class="panel-body">
                  <img src="http://4.bp.blogspot.com/-20rPhYAu0S0/VH97bEX6W1I/AAAAAAAAB6U/LY4uY6mNSC4/s1600/heart-rate-459225_1280.png">
                </div>
              </div>
              <div class="panel panel-default custom-fitness-panel col-lg-6">
                <div class="panel-heading">BPM</div>
                <div class="panel-body">
                  <img src="http://4.bp.blogspot.com/-20rPhYAu0S0/VH97bEX6W1I/AAAAAAAAB6U/LY4uY6mNSC4/s1600/heart-rate-459225_1280.png">
                </div>
              </div>
              <div class="panel panel-default custom-fitness-panel col-lg-6">
                <div class="panel-heading">Weight</div>
                <div class="panel-body">
                  <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="{width: customer.Weight+'%'}">
                      {{customer.Weight}} Kg
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default col-lg-offset-1 col-lg-5 col-sm-12 col-xs-12">
            <div class="panel-body">
              <p class="lead">My Cab</p>
              <div class="card-body">
                <p>My Prefered Cab: {{customer.Preferred_Cab_Service}}</p>
                <p>Prefered Pick up place: {{customer.Preferred_pickup_location}}</p>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-default col-lg-5 col-sm-12 col-xs-12">
            <div class="panel-body">
              <p class="lead">My Hospital</p>
              <div class="card-body">
                <p>Chornic Illness High</p>
                <p>My Hospital: {{customer.Preferred_Hospital}}</p>
                <p>My Preferred Doctor : {{customer.Preferred_Doctor}}</p>
                <p>Last Hospital Visit: {{customer.Last_Hospital_Visit}}</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default col-lg-offset-1 col-lg-5 col-sm-12 col-xs-12">
            <div class="panel-body">
              <p class="lead">My Pharmacy Service</p>
              <div class="card-body">
                <p>My Preffered Pharmacy: {{customer.Preferred_Pharmacy}}</p>
                <p>Last Prescribed Medicines</p>
                <ul>
                  <li>Medicine 1</li>
                  <li>Medicine 2</li>
                </ul>
                <p> Last Hospital Visit : {{customer.Last_Hospital_Visit}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>