<div class="panel panel-default custom-fitness-panel">
            <div class="panel-body">
              <p class="lead">My Pharmacy Service</p>
              <div class="card-body">
                <p>My Preffered Pharmacy: {{customer.Preferred_Pharmacy}}</p>
                <p>Last Prescribed Medicines</p>
                <ul>
                  <li>Medicine 1</li>
                  <li>Medicine 2</li>
                </ul>
                <p> Last Hospital Visit : {{customer.Last_Hospital_Visit}}</p>
              </div>
            </div>
</div>